.wrapper {
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height);
    width: 100%;
    border-bottom: 1px solid green;
}

.inner {
    width: var(--default-layout-width);
}